.secondaryBtn {
	display: inline-flex;
	padding: 12px 18px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 999px;
	background: radial-gradient(50% 50% at 50% 50%, rgba(19, 13, 49, 0.9) 0%, rgba(5, 5, 25, 0.9) 100%);
	box-shadow: 0px 2px 64px 12px rgba(161, 121, 220, 0.12);
	&-bg {
		border-radius: 999px;
		background: var(--bg-main-color);
		cursor: pointer;
	}
	&-border {
		border-radius: 999px;
		padding: 1px;
		background: linear-gradient(0deg, rgba(40, 0, 104, 0.7) 0%, rgba(161, 121, 220, 0.7) 100%),
			radial-gradient(50% 50% at 50% 50%, rgba(19, 13, 49, 0.9) 0%, rgba(5, 5, 25, 0.9) 100%);
		backdrop-filter: blur(16px);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		overflow: hidden;
		cursor: pointer;
	}
	&-text {
		color: var(--text-btn-default);
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.25;
	}
}
